.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 6rem;
  top: 3rem;
  background-color: $button;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  img {
    height: 3.7rem;
    width: 3.5rem;
  }
  &:hover {
    background-color: $selectedButton;
  }
}
