.wrapper-search-type--container {
  font-size: 2rem;
  width: 70%;
  height: 70%;
  margin-top: 10rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.search-type--container {
  display: block;
  height: 10rem;
  width: 20rem;
  background-color: $button;
  border-radius: 4rem;
  border: none;
  // .name {
  //   background: $selectedButton;
  // }
}
